#COSMOS
GAS_PER_MSG=""
BRIDGE_FEE=""
GRAVITY_MODULE_ADDRESS=""
BATCH_CREATION_BLOCKS=""

#ETHEREUM
ERC20_CONTRACT_ADDRESS=""
BRIDGE_CONTRACT_ADDRESS=""
ETH_NODE_URL=""
ETH_PRIV_KEY=""

#TEST params
NUMBER_OF_TESTS="10"
NUMBER_OF_ADDRESSES="100"
MAX_ACUDOS_PER_ADDRESS="10000000"