NODE_ENV=production
BACKEND_PORT=4000
FRONTEND_PORT=4000
URL=
SESSION_UNIQUE_KEY=secret
SESSION_STORE_TCP_ADDR=
SESSION_STORE_PORT=

DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASS=
DATABASE_NAME=
DATABASE_CONNECTION_LIMIT=

#cudos network variables
CHAIN_NAME=
CHAIN_ID=
RPC=
API=
GAS_PRICE=0.02
GAS=180000
FEE=0
STAKING=
PARAMS_ENDPOINT=""

#orchestrator variables
ERC20_CONTRACT_ADDRESS=
BRIDGE_CONTRACT_ADDRESS=
BRIDGE_FEE=0

#ethereum variables
ETHEREUM_GAS_PRICE=2000000008
ETHEREUM_GAS=2000000
ETHEREUM_RPC=
