DENOMS="acudos"
PORT="5000"
ACCOUNT_NAME="faucet"
CLI_NAME="cudos-noded"
KEYRING_BACKEND="test"
KEYRING_PASSWORD=""
CREDIT_AMOUNT="1000000"
MAX_CREDIT="10000000"
NODE=""
MNEMONIC=""

GOOGLE_API_KEY=""
CAPTCHA_SITE_KEY=""
GOOGLE_PROJECT_ID=""