DENOMS=""
PORT="5000"
CAPTCHA_BACKEND=""
ACCOUNT_NAME="faucet"
CLI_NAME="cudos-noded"
export KEYRING_BACKEND="file"
export KEYRING_PASSWORD=""
CREDIT_AMOUNT="1000"
MAX_CREDIT="100000000"
NODE=""
MNEMONIC=""