version: '3.1'

services:
  cudos-seed-node:
    image: cudos-init-seed-node
    container_name: $INIT_CONTAINER_NAME
    build:
      dockerfile: CudosBuilders/docker/seed-node/init-seed-node.dockerfile
      context: ../../../
      args:
        GENESIS_FILENAME: "$GENESIS_FILENAME"
        SEEDS_FILENAME: "$SEEDS_FILENAME"
        PERSISTENT_PEERS_FILENAME: "$PERSISTENT_PEERS_FILENAME"
    env_file: "$ENV_FILE"
    volumes:
      - '../../../CudosData/$VOLUME_NAME:$CUDOS_HOME'
