MONIKER=<TYPE DOWN NODE NAME>
PERSISTENT_PEERS=
PRIVATE_PEERS=
SEEDS=

SHOULD_USE_GLOBAL_PEERS=true
SHOULD_USE_STATE_SYNC=false

MONITORING_ENABLED=false

EXTERNAL_ADDRESS=
ADDR_BOOK_STRICT=true

LOG_FORMAT="plain|json"
LOGGING_DRIVER="json-file|gcplogs"
