*.env
*.key
node_modules
secrets.json
secrets.json.old
genesis.local.json
persistent-peers.local.config
seeds.local.config
state-sync-rpc-servers.local.config
/tools/deployer-utils/temp
.DS_Store
docker/snapshot-test/data
topology.json
topology.*.json
users*override.yml
docker/tests/**/data
docker/monitoring/config/prometheus.tesnet.public.yml
bdjuno
.env-bdjuno
.env-big-dipper-2
/tools-bash/constructor/exports
tools-bash/launcher/config/genesis.data.json
tools-bash/launcher/config/genesis.root.json
tools-bash/launcher/src/genesis.sh
tools-bash/launcher/exports
tools-bash/updater/emergency-backup
tools-bash/updater/migrate
tools/init-local-node-without-docker/cudos-data
