*.env
node_modules
secrets.json
secrets.json.old
genesis.local.json
persistent-peers.local.config
seeds.local.config
state-sync-rpc-servers.local.config
/tools/deployer-utils/temp
.DS_Store
docker/snapshot-test/data
topology.json
users*override.yml
docker/tests/**/data
docker/monitoring/config/prometheus.tesnet.public.yml
