*.env
*.key
node_modules
secrets.json
secrets.json.old
genesis.local.json
persistent-peers.local.config
seeds.local.config
state-sync-rpc-servers.local.config
.DS_Store
docker/snapshot-test/data
topology.json
topology.*.json
users*override.yml
docker/tests/**/data
docker/monitoring/config/prometheus.tesnet.public.yml
bdjuno
.env-bdjuno
.env-big-dipper-2
tools-nodejs/deployer-utils/temp
tools-nodejs/init-local-node-without-docker/cudos-data
tools-bash/constructor/exports
tools-bash/launcher/config/genesis.data.json
tools-bash/launcher/config/genesis.root.json
tools-bash/launcher/src/genesis.sh
tools-bash/launcher/exports
tools-bash/launcher/tokenomics
tools-bash/upgrade/emergency-backup
tools-bash/upgrade/migrate
**/explorer-v2/bdjuno_local_deploy
