SEED0="zero spell around wing nephew menu identify stomach miss piece stand want body kitten enhance body lady knock dizzy inhale female please adapt engine"
SEED1="zoo mutual ozone sell light please inherit focus monster border slogan ask wage cook soap cushion where jewel energy pistol document scissors hockey pig"