version: '3.1'

services:
  cudos-ibc-relayer:
    build:
      args:
        USER_ID: '0'
        USER_NAME: 'root'
        GROUP_ID: '0'
        GROUP_NAME: 'root'
    volumes:
      - '../../../CudosData/cudos-data-ibc-relayer:$CUDOS_HOME'
      - '../../../IbcRelayer:/usr/src/IbcRelayer'
      - './chains:/home/IbcRelayer/chains'
      - './paths:/home/IbcRelayer/paths'
      - './scripts:/home/IbcRelayer/scripts'
    entrypoint: ["/bin/bash", "-c", "chown -R ${USER_NAME}:${GROUP_NAME} ${CUDOS_HOME} && sleep infinity"]