{
    "public-testnet": {
        "host": "",
        "port": "22",
        "username": "",
        "privateKey": "",
        "keyPass": "",
        "serverPath": "/usr/cudos/"
    },
    "private-testnet": {
        "host": "",
        "port": "22",
        "username": "",
        "privateKey": "",
        "keyPass": "",
        "serverPath": "/usr/cudos/"
    },
    "mainnet": {
        "host": "",
        "port": "22",
        "username": "",
        "privateKey": "",
        "keyPass": "",
        "serverPath": "/usr/cudos/"
    }
}
