#number of addresses from which to send, this will be multiplied by the number of rest endpoints you have
NUMBER_OF_ADDRESSES=1000

#number of times the send loop will run
NUMBER_OF_TESTS=10

#used for delegate message
VALIDATOR_ADDRESSES=cudosvaloper1l786h40rnqlgrd3pyp08dknm65wx8xk22gjq49