CREATE_CHANNEL = false

REST_ENABLED = false
REST_HOST = '127.0.0.1'
REST_PORT = 3000

TELEMETRY_ENABLED = false
TELEMETRY_HOST = '127.0.0.1'
TELEMETRY_PORT = 3001

CHAIN_ID_0=cudos-testnet-public-2
RPC_ADDR_0='http:\/\/34.66.10.69:26657'
GRPC_ADDR_0='http:\/\/34.66.10.69:9090'
WEBSOCKET_ADDR_0='ws:\/\/34.66.10.69:26657\/websocket'
ACCOUNT_PREFIX_0=cudos
GAS_PRICE_0=1
GAS_DENOM_0=acudos
SEED_0=""


CHAIN_ID_1=osmo-test-4
RPC_ADDR_1='http:\/\/10.128.0.25:26657'
GRPC_ADDR_1='http:\/\/10.128.0.25:9090'
WEBSOCKET_ADDR_1='ws:\/\/10.128.0.25:26657\/websocket'
ACCOUNT_PREFIX_1=osmo
GAS_PRICE_1=1
GAS_DENOM_1=uosmo
SEED_1=""

