{
    "testnet-public": {
        "host": "",
        "port": "22",
        "username": "",
        "privateKey": "",
        "keyPass": "",
        "serverPath": "/usr/cudos/"
    },
    "testnet-private": {
        "host": "",
        "port": "22",
        "username": "",
        "privateKey": "",
        "keyPass": "",
        "serverPath": "/usr/cudos/"
    }
}
