MONIKER=
PERSISTENT_PEERS=
PRIVATE_PEERS=
SEEDS=

SHOULD_USE_GLOBAL_PEERS=true
SHOULD_USE_STATE_SYNC=false

TLS_ENABLED=false
TLS_DOMAIN= #required if TLS_ENABLED=true
TLS_DOCKER_PATH= #required if TLS_ENABLED=true

MONITORING_ENABLED=false

EXTERNAL_ADDRESS=
ADDR_BOOK_STRICT=true