{
    "computers": [
        {
            "id": "node001",
            "ip": "auto",
            "port": 22,
            "user": "",
            "sshKey": "",
            "pass": ""
        }
    ],
    "nodes": {
        "primary-validator": {
            "computerId": "node001",
            "validatorId": "validator01",
            "orchEthAddress": "0x....",
            "ethPrivKey": ""
        },
        "seeds": [
            {
                "validatorId": "validator01",
                "computerId": "node100"
            },
            {
                "validatorId": "validator02",
                "computerId": "node101"
            }
        ],
        "sentries": [
            {
                "validatorId": "validator01",
                "computerId": "node200"
            },
            {
                "validatorId": "validator02",
                "computerId": "node201"
            }
        ]
    }
}