{
    "computers": [
        {
            "id": "node001",
            "ip": "",
            "internalIp": "",
            "port": 22,
            "user": "",
            "sshKeyPath": "",
            "pass": ""
        }
    ],
    "nodes": {
        "primary-validator": {
            "computerId": "node001",
            "envPath": "/absolute-path-to-the-env",
            "orchEnvPath": "/absolute-path-to-the-env",
            "orchEthAddress": "0x....",
            "ethPrivKey": "hex-formated-private-key"
        },
        "seeds": [
            {
                "computerId": "node100",
                "envPath": "/absolute-path-to-the-env"
            }
        ],
        "sentries": [
            {
                "computerId": "node200",
                "envPath": "/absolute-path-to-the-env"
            }
        ]
    }
}