MONIKER="cudos-root-node-mainnet"
CHAIN_ID="cudos-1"
ORCH_ETH_ADDRESS=""
MONITORING_ENABLED=""
ADDR_BOOK_STRICT="true"
GRAVITY_MODULE_BALANCE="0"
CUDOS_TOKEN_CONTRACT_ADDRESS=""
ROOT_VALIDATOR_MNEMONIC=""
NUMBER_OF_VALIDATORS="1"
NUMBER_OF_ORCHESTRATORS="3"
VALIDATOR_BALANCE=""
ORCHESTRATOR_BALANCE=""
FAUCET_BALANCE=""
KEYRING_OS_PASS=""
