{
    "sentry-node-testnet-public-zone01": {
        "host": "",
        "port": "22",
        "username": "",
        "privateKey": "",
        "keyPass": "",
        "serverPath": "/usr/cudos/"
    },
    "sentry-node-testnet-public-zone02": {
        "host": "",
        "port": "22",
        "username": "",
        "privateKey": "",
        "keyPass": "",
        "serverPath": "/usr/cudos/"
    },
    "sentry-node-testnet-public-zone03": {
        "host": "",
        "port": "22",
        "username": "",
        "privateKey": "",
        "keyPass": "",
        "serverPath": "/usr/cudos/"
    },
    "sentry-node-testnet-private": {
        "host": "",
        "port": "22",
        "username": "",
        "privateKey": "",
        "keyPass": "",
        "serverPath": "/usr/cudos/"
    }
}
