NODE_ENV=production|dev
BACKEND_PORT= (port on which server will be accessed from browser)
FRONTEND_PORT=
URL=http://ip/localhost/domain
SESSION_UNIQUE_KEY=secret
SESSION_STORE_TCP_ADDR=127.0.0.1
SESSION_STORE_PORT=6379
