NODE_ENV=production|dev
BACKEND_PORT= (port on which server will be accessed from browser)
FRONTEND_PORT=
URL=http://ip/localhost/domain
SESSION_UNIQUE_KEY=secret

#cudos network variables
CHAIN_NAME=<name_to_display_in_keplr_wallet>
CHAIN_ID=
RPC=
API=
GAS_PRICE=
EXPLORER=<url_for_chain_explorer>
STAKING=<url_for_staking_button_in_keplr_wallet>
GRAPHQL=<url_for_graphql>
NFT_DENOM_ID=

#backend signer
SIGNER_MNEMONIC=""

#infura
INFURA_HOST=
INFURA_ID=
INFURA_SECRET=
