version: '3.1'

services:
  cudos-full-node:
    image: cudos-init-full-node
    container_name: $INIT_CONTAINER_NAME
    build:
      dockerfile: CudosBuilders/docker/full-node/init-full-node.dockerfile
      context: ../../../
      args:
        GENESIS_FILENAME: "$GENESIS_FILENAME"
    env_file: "$ENV_FILE"
    volumes:
      - '../../../CudosData/$VOLUME_NAME:$CUDOS_HOME'
