{
    "root-node-testnet": {
        "host": "",
        "port": "",
        "username": "",
        "privateKey": "",
        "keyPass": "",
        "serverPath": "/usr/cudos/"
    },
    "seed-node-01-testnet": {
        "host": "",
        "port": "",
        "username": "",
        "privateKey": "",
        "keyPass": "",
        "serverPath": "/usr/cudos/"
    },
    "sentry-node-01-testnet": {
        "host": "35.232.27.92",
        "port": "",
        "username": "",
        "privateKey": "",
        "keyPass": "",
        "serverPath": "/usr/cudos/"
    }
}
