MONIKER=<TYPE DOWN NODE NAME>
PERSISTENT_PEERS=
PRIVATE_PEERS=
SEEDS=

SHOULD_USE_GLOBAL_PEERS=true
TLS_ENABLED=false
TLS_DOMAIN= #required if TLS_ENABLED=true
TLS_DOCKER_PATH= #required if TLS_ENABLED=true
