ADDRESS_PREFIX="cudos"
FEES=""
GRPC=""
ETHRPC=""
CONTRACT_ADDR=""
COSMOS_ORCH_MNEMONIC=""
# private key of your eth wallet that was used to register the validator must be in hex format without leading 0x
ETH_PRIV_KEY_HEX=""