MONIKER=""
CHAIN_ID=""
ORCH_ETH_ADDRESS=""
MONITORING_ENABLED="false"
ADDR_BOOK_STRICT="true"
GRAVITY_MODULE_BALANCE=""
CUDOS_TOKEN_CONTRACT_ADDRESS=""
NUMBER_OF_VALIDATORS=""
NUMBER_OF_ORCHESTRATORS=""
VALIDATOR_BALANCE=""
ORCHESTRATOR_BALANCE=""
FAUCET_BALANCE=""
