CREATE_CHANNEL="false"

REST_ENABLED="true"
REST_HOST="127.0.0.1"
REST_PORT="3000"

TELEMETRY_ENABLED="true"
TELEMETRY_HOST="127.0.0.1"
TELEMETRY_PORT="3001"

CHAIN_ID_0=""
RPC_ADDR_0="http:\/\/127.0.0.1:26657"
GRPC_ADDR_0="http:\/\/127.0.0.1:9090"
WEBSOCKET_ADDR_0="ws:\/\/127.0.0.1:26657\/websocket"
ACCOUNT_PREFIX_0=""
GAS_PRICE_0=""
GAS_DENOM_0=""
MNEMONIC_0=""
TRUSTING_PERIOD_0=""

CHAIN_ID_1=""
RPC_ADDR_1="http:\/\/127.0.0.1:26657"
GRPC_ADDR_1="http:\/\/127.0.0.1:9090"
WEBSOCKET_ADDR_1="ws:\/\/127.0.0.1:26657\/websocket"
ACCOUNT_PREFIX_1=""
GAS_PRICE_1=""
GAS_DENOM_1=""
MNEMONIC_1=""
TRUSTING_PERIOD_1=""
